@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --linear-gradient-navbar-color: linear-gradient(
            180deg,
            rgba(29, 42, 142, 1) 0%,
            rgba(17, 29, 124, 1) 35%,
            rgba(7, 17, 93, 1) 100%
        );
    }

    input:focus:not(:placeholder-shown) {
        outline: none;
        box-shadow: none;
    }
}
